<body style="background: black;color:floralwhite;">
  <div class="container-fluid">
    <div class="row">
      <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="4000">
            <img src="https://images.pexels.com/photos/395196/pexels-photo-395196.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="https://cdn.wallpapersafari.com/1/97/MQVBe9.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="4000">
            <img src="https://images.pexels.com/photos/1413412/pexels-photo-1413412.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
    </div>
 
  <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
    <p>HOT</p>
    <div class="card-group">
      <div class="card border-0">
        <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/1535162/pexels-photo-1535162.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-dark">Card title</h5>
          <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/719396/pexels-photo-719396.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-dark">Card title</h5>
          <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/462030/pexels-photo-462030.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-dark">Card title</h5>
          <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/704748/pexels-photo-704748.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-dark">Card title</h5>
          <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/5257587/pexels-photo-5257587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap" style="filter: brightness(1.2);">
        <div class="card-body">
          <h5 class="card-title text-dark">Card title</h5>
          <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>    
  </div>

    <img style="max-width: 30%; height: auto;" src="https://cdn.pixabay.com/photo/2015/12/09/17/12/popcorn-1085072_960_720.jpg" alt="Popcorn" />
    <img style="max-width: 80%; height: auto;" src="https://images.pexels.com/photos/395196/pexels-photo-395196.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Dock" />
    <img style="max-width: 80%; height: auto;" src="https://cdn.wallpapersafari.com/1/97/MQVBe9.jpg" alt="" /><br />
    <img style="max-width: 20%; height: auto;" src="https://images.pexels.com/photos/462030/pexels-photo-462030.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
</body>
