<h1 id="tableLabel">Films</h1>

<p>This component lists films.</p>

<p *ngIf="!films"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="films">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Duration</th>
      <th>Year of release</th>
      <th>Director</th>
      <th>Date added</th>
      <th>Rating</th>
      <th>Watched</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{ film.id }}</td>
      <td>{{ film.title }}</td>
      <td>{{ film.description }}</td>
      <td>{{ film.genre }}</td>
      <td>{{ film.duration }}</td>
      <td>{{ film.yearOfRelease }}</td>
      <td>{{ film.director }}</td>
      <td>{{ film.dateAdded | date:'medium'}}</td>
      <td>{{ film.rating }}</td>
      <td>{{ film.watched }}</td>
    </tr>
  </tbody>
</table>
